<html>
  <head>
      <title>Django Girls blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Django Girls Blog</a></h>
    </div>

    <div>
      <p>publised: 14.06.2014, 12:14</p>
      <h2><a href="">My first post</a></h2>
      <p>How are you ladies and gentlmen. It is really nice to meet you.</p>
    </div>

    <div>
      <p>published: 14.06.2014, 12:14</p>
      <h2><a href="">My second post</a></h2>
      <p>Again. How are you guys. It is my pleasure to meet you.</p>
    </div>

  </body>
</html>
